header{
    position: relative;
    z-index: 1;
}

header::before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background-color: var(--accentuated-bg);
    transform: skewY(var(--skew-angle));
    transform-origin: top left;
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0% 16%;
    padding: 3rem 0rem;

}

.header-picture{
    max-width: 25rem;
}

.about-me{
    max-width: 35rem;
    background-color: var(--darker-main-bg);
}