.main-content {
  margin: 1rem 16%;
}

.title {
  font-size: 2rem;
  text-align: center;
}

.project-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;


}

.project-card {
  box-shadow: var(
    --shadow
  ); /*custom box shadow from here: https://getcssscan.com/css-box-shadow-examples*/
  max-width: 18rem;
}


.project-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-title > h3 {
  margin: 0rem;
}

.project-icons > .devicon-github-original-wordmark.colored {
  font-size: 1.5rem;
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

.project-picture {
  width: 100%;
}

.project-text {
  padding: 1rem 1rem;
}

.project-description {
  margin: 0.5rem 0rem 0rem 0rem;
}
